* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: #000;
}

.tag {
    position: absolute;
    color: #000;
    text-decoration: underline 3px #de0611;
    z-index: 1;
    top: 94%;
    left: 75%;
    /* left: 50%; */
}

header {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 100px;
    z-index: 100;
    justify-content: space-between;
}

header #logo {
    max-width: 180px;
    margin-top: 20px;
    position: relative;
    top: 10%;
    left: 8%;
}

header .nav ul {
    display: flex;
}

header .nav ul li a {
    text-decoration: none;
    color: #fff;
    outline: none;
    letter-spacing: 1px;
    font-size: 18px;
    /* font-size: 16px; */
    padding: 0 15px;
    margin: 0 4px;
    text-transform: capitalize;
    font-weight: 500;
}

header .nav ul li a:hover {
    color: red;
}

header .search {
    position: relative;
    top: 10%;
    right: 10%;
}

header .search input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 15px;
    background: none;
    border: 1px solid #fff;
    padding: 6px 18px;
}

header .search input::placeholder {
    color: #fff;
    font-weight: 600;
    /* text-align: center; */
    padding-left: 10px;
}

.content {
    position: relative;
    /* top: 50%; */
    /* left: 10%; */
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content .bg {
    position: relative;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100vh;
    object-fit: cover;
}

.mat {
    position: absolute;
    z-index: 1;
    /* top: 40%; */
    /* left: 25%; */
    max-width: 650px;
}

.movietitle {
    max-width: 350px;
    /* height: auto; */
}

.content .mat h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.content .mat h4 span {
    padding: 0 10px;
    text-transform: capitalize;
    border-right: 1px solid white;
}

.content .mat h4 span:first-child {
    padding-left: 0;
}

.content .mat h4 span:last-child {
    border-right: none;
}

.content .mat h4 span i {
    background: #de0611;
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
    font-weight: 500;
    font-size: 15px;
}

.content .mat p {
    font-size: 1em;
    color: #fff;
    margin-top: 10px;
}

.content .mat .button {
    position: relative;
}

.content .mat .button a {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    background: #de0611;
    color: #fff;
    padding: 6px 20px;
    text-decoration: none;
    /* border-radius: 8p; */
    margin-top: 30px;
}

.play {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    color: #fff;
    justify-content: flex-start;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    align-items: center;
}

.play img {
    margin-right: 10px;
    max-width: 50px;
}